
@using EarlyBoundTypes
@using Portal.Library.Helpers
@model Portal.ViewModels.CaseViewModel

@{
    ViewBag.Title = "Sprawa";
}

@{
    Layout = "~/Views/Shared/_LayoutCase.cshtml";
}

<div class="row">

    <ul class="nav navbar-nav">

        <li>
            @Html.ActionLink("Rozliczenie", "NetSettlement", "PortalNet", new { caseID = Model.Guid.ToString(), client = (string)ViewBag.Client }, null)
        </li>

        <li>
            @Html.ActionLink("Rozliczenie Klienta", "ClientSettlement", "PortalNet", new { caseID = Model.Guid.ToString(), client = (string)ViewBag.Client }, null)
        </li>

        <li>
            @Html.ActionLink("Pozwy", "Summons", "PortalNet", new { caseID = Model.Guid.ToString(), client = (string)ViewBag.Client }, null)
        </li>

        <li>
            @Html.ActionLink("Dokumenty", "Documents", "PortalNet", new { caseID = Model.Guid.ToString() }, null)
        </li>



    </ul>

</div>

<h3><i class="fa fa-check-square-o adv-i"></i>Informacje</h3>

<div class="row">
    <div class="col-md-12" style="padding: 40px;">


        <table class="table table-bordered table-responsive">
            <tr>
                <td style="font-weight: 600;">
                    @Html.DisplayNameFor(model => model.NumerSprawy)
                </td>
                <td>
                    @Html.DisplayFor(model => model.NumerSprawy)
                </td>
            </tr>

            <tr>
                <td style="font-weight: 600;">
                    @Html.DisplayNameFor(model => model.RodzajSzkody)
                </td>
                <td>
                    @Html.DisplayFor(model => model.RodzajSzkody)
                </td>
            </tr>

            <tr>
                <td style="font-weight: 600;">
                    @Html.DisplayNameFor(model => model.DataWplywu)
                </td>
                <td>
                    @Html.DisplayFor(model => model.DataWplywu)
                </td>
            </tr>

            <tr>
                <td style="font-weight: 600;">
                    @Html.DisplayNameFor(model => model.TypSprawy)
                </td>
                <td>
                    @Html.DisplayFor(model => model.TypSprawy)
                </td>
            </tr>

            <tr>
                <td style="font-weight: 600;">
                    @Html.DisplayNameFor(model => model.Kontakt)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Kontakt)
                </td>
            </tr>

            <tr>
                <td style="font-weight: 600;">
                    @Html.DisplayNameFor(model => model.EtapSprawy)
                </td>
                <td>
                    @Html.DisplayFor(model => model.EtapSprawy)
                </td>
            </tr>

            <tr>
                <td style="font-weight: 600;">
                    @Html.DisplayNameFor(model => model.ZrodloSprawy)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ZrodloSprawy)
                </td>
            </tr>

            <tr>
                <td style="font-weight: 600;">
                    @Html.DisplayNameFor(model => model.DatawyslaniaUmowy)
                </td>
                <td>
                    @Html.DisplayFor(model => model.DatawyslaniaUmowy)
                </td>
            </tr>

            <tr>
                <td style="font-weight: 600;">
                    @Html.DisplayNameFor(model => model.Klient)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Klient)
                </td>
            </tr>

            <tr>
                <td style="font-weight: 600;">
                    @Html.DisplayNameFor(model => model.Wlasciciel)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Wlasciciel)
                </td>
            </tr>

        </table>
    </div>
</div>

<h3>
    <i class="fa fa-check-square-o adv-i"></i>Działania
</h3>

<div class="row">

    <div class="col-md-12" style="padding: 40px;">

        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <td>
                        Temat
                    </td>
                    <td>
                        Typ działania
                    </td>
                    <td>
                        Data ukończenia
                    </td>
                    <td>
                        Właściciel
                    </td>
                    <td>
                        Opis
                    </td>
                </tr>
            </thead>


            <tbody>

                @foreach (ActivityPointer item in ViewBag.Aps)
                {
                    <tr>
                        <td>
                            @item.Subject
                        </td>
                        <td>
                            @CaseHelper.TypeString(item.ActivityTypeCode)
                        </td>
                        <td>
                            @CaseHelper.DateString(item)
                        </td>
                        <td>
                            @item.OwnerId.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                    </tr>
                }


            </tbody>



        </table>
    </div>

</div>




